@using HairSalonApp.Models;
<!DOCTYPE html>
@{
  Layout = "_Layout";
}

        <h1>All Clients</h1>

      @if (Model != null)
      {
        foreach(var client in Client.GetAll())
        {
          <h4><strong><a href="/clients/details/@client.GetId()">@client.GetName()</a></strong> </h4>
          <br>
          <form action="/clients/delete/@client.GetId()" method="post"><button type="submit" class="btn btn-danger" name="deleteClient">Delete this Client</button></form>
          <hr>
        }
      }

      <form action="/clients/delete/all" method="post"><button type="submit" class="btn btn-danger" name="deleteClient">Delete ALL Clients</button></form>
