@using HairSalonApp.Models;
<!DOCTYPE html>
@{
  Layout = "_Layout";
}

        <h1>All Clients</h1>

      @if (Model != null)
      {
        foreach(var client in Client.GetAll())
        {
          <h4><strong>@client.GetName()</strong> </h4>
          <h4>Phone #: @client.GetPhoneNumber()</h4>
          <br>
          <h5>Stylist: @client.GetStylist().GetName()</h5>
          <form action="/clients/delete/@client.GetId()" method="post"><button type="submit" name="deleteClient">Delete this Client</button></form>
          <hr>
        }
      }
<a href="/clients/new">Add a Client</a>
