@using HairSalonApp.Models;
<!DOCTYPE html>
@{
  Layout = "_Layout";
}

  <h2>All Stylists:</h2>
      @if (Model != null)
      {
        foreach(Stylist stylist in Stylist.GetAll())
        {
          <a href="/stylists/details/@stylist.GetId()"><h4>@stylist.GetName()</h4></a>
          <hr>
        }
      }

  
    <form action="/stylists/delete/all" method="post"><button type="submit" class="btn btn-danger" name="deleteClient">Delete ALL Stylists</button></form>
