@using HairSalonApp.Models;
<!DOCTYPE html>
@{
  Layout = "_Layout";
}
    <div class="container">
      <div class="jumbotron">
        <h1>All Stylists</h1>

      </div>
      @if (Model != null)
      {
        foreach(Stylist stylist in Stylist.GetAll())
        {
          <a href="/stylists/details/@stylist.GetId()"><h4>@stylist.GetName()</h4></a>
          <hr>
        }
      }

      <a href="/stylists/new">Add a new Stylist</a>
    </div>
