<!DOCTYPE html>
@{
  Layout = "_Layout";
}
    <div class="container">
      <div class="jumbotron">
        <h1>Stylist deleted!</h1>
      </div>
      <a href="/stylists">Back to all Stylists</a>

    </div>
