@using HairSalonApp.Models;
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>Hairy Salon</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>All Stylists</h1>

      </div>
      @if (Model != null)
      {
        foreach(Stylist stylist in Stylist.GetAll())
        {
          <a href="/stylists/details/@stylist.GetId()"><h4>@stylist.GetName()</h4></a>
          <hr>
        }
      }

      <a href="/stylists/new">Add a new Stylist</a>
    </div>
  </body>
</html>
