body {
  background: linear-gradient(to right, azure, #4d7796);
}

.jumbotron {
  background-color: lightslategray;
}


.topnav {
  background-color: slategray;
  overflow: hidden;
  border-radius: 8px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5vw;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
