@using HairSalonApp.Models;
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>Hairy Salon</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Harry's Hair Salon</h1>
      </div>

      <a href="/stylists">All Stylists</a>
      <hr>
      <a href="/clients">All Clients</a>
    </div>
  </body>
</html>
