@using HairSalonApp.Models;
<!DOCTYPE html>
@{
  Layout = "_Layout";
}
    <div class="container">
      <div class="jumbotron">
        <h1>Harry's Hair Salon</h1>
      </div>

      <a href="/stylists">All Stylists</a>
      <hr>
      <a href="/clients">All Clients</a>
    </div>
